# Unreal Engine
Binaries/
Build/
DerivedDataCache/
Intermediate/
Saved/

# IDE
.vs/
.vscode/
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo

# Mac
.DS_Store

# Windows
Thumbs.db

# Logs
*.log

# Xcode
*.xcodeproj
*.xcworkspace